@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Figtree:wght@500&family=Lexend+Deca:wght@300&family=Nunito&family=Poppins:ital,wght@0,400;0,500;1,300&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0px;
  place-items: center;
  width: 100vw;
  min-width: 320px;
  box-sizing: border-box;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}



hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}
ul {
  list-style-type: none; /* Remove the default bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}
li {
  margin: 0; /* Remove margin for list items */
  padding: 0; /* Remove padding for list items */
}

a {
  text-decoration: none;
  color: black;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0rem !important;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
html {
  scroll-behavior: smooth;
}



